<?xml version='1.0' encoding='UTF-8'?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:security="http://www.springframework.org/schema/security" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
         http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

<!-- spring.xml -->
	<context:component-scan base-package="com.biancama.security.prepost"/>

  <security:global-method-security  pre-post-annotations="enabled"> 
   	<security:expression-handler ref="expressionHandler"/>
   </security:global-method-security>
   <security:authentication-manager>
   	<security:authentication-provider ref="daoAuthenticationProvider"/>
  </security:authentication-manager>
  
  <bean id='daoAuthenticationProvider' class='org.springframework.security.authentication.dao.DaoAuthenticationProvider'>
  	<property name="saltSource">
        <bean class="org.springframework.security.authentication.dao.ReflectionSaltSource">
            <property name="userPropertyToUse" value="username"/>
        </bean>
    </property>
    <property name="passwordEncoder" ref="passwordEncoder"/>
    <property name="userDetailsService" ref='userDetailsService'/>
    
  </bean>
  <bean id="userDetailsService"  class="com.biancama.security.prepost.BiancamaUserDetailsService">
    <constructor-arg index="0" ref="userRepository"/>
	</bean>
 
	<bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.ShaPasswordEncoder">
	    <constructor-arg index="0" value="256"/>
	</bean>
  
  <bean id="expressionHandler" class="org.springframework.security.access.expression.method.DefaultMethodSecurityExpressionHandler">
        <property name="permissionEvaluator" ref="permissionEvaluator"/>
  </bean>
  <bean id="permissionEvaluator"
          class="com.biancama.security.prepost.BiancamaPermissionEvaluator">
        <constructor-arg index="0">
            <map key-type="java.lang.String"
                 value-type="com.biancama.security.prepost.BiancamaPermission">
                <entry key="isAuthor" value-ref="authorPermission"/>
            </map>
        </constructor-arg>
    </bean>
    <bean id="authorPermission" class="com.biancama.security.prepost.AuthorPermission"/>
	
</beans>